button {
    display: block;
    width: 150px;
    padding:10px;
    margin: 0 auto;
    font-size: .8rem;
    color: #ffffff;
    border: 0;
    background-color: #00c2bc;
    cursor: pointer;
}
.active {
    color: red;
    font-weight: bold;
}
.red {
    color:red;
}
.green {
    color:green;
}
.blue {
    color:blue;
}